@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette */
/* 1. #000000 */
/* 2. 200D42 */
/* 3. 4F21A1 */
/* 4. A46EDB */

body{
  color: #fff;
  background-color: #000000;
}

.hero-gradient {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #200D42 34%,
    #4F21A1 65%,
    #A46EDB 82%
  );
}

.footer-gradient{
  background-image: linear-gradient(
    to top,
      #5D2CA8,
      #000000
  );
}

.section-gradient{
  background-image: linear-gradient(
    to right,
      #050505,
      #0b080c
  );
}

.rainbow-gradient{
  background-image: linear-gradient(
    to right,
      #787AFF,
      #FB93D0,
      #FFDD99,
      #C3F0B2,
      #2FD8FE
  );
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.highlight-text{
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #a855f7,
    #a855f7,
    #ef4444
  );
}

/* skill section */
@keyframes skill-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-skill-gradient{
  animation: skill-gradient 5s ease infinite;
  background-size: 200% 100%;
}